.background-img {
    background-image: url("https://media.istockphoto.com/id/2182110555/photo/financial-report-and-banking-management-with-e-invoice-bill-digital-nline-statements-c2c.jpg?s=2048x2048&w=is&k=20&c=tSDD4pThUwXRN9CyUcUjrwhW0DMZB4Ja3AvKBy_amGs=");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .2;
    z-index: -1;
}
.input {
    width: 200px;
}

.servicesInput {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
    
.senderContainer,
.clientContainer,
.calendar,
.money,
.descriptionOfServices {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.senderContainer:hover,
.clientContainer:hover,
.calendar:hover,
.descriptionOfServices:hover,
.money:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transform: translateY(-5px);
  background: #ffffff0d;
  transition: all 0.3s ease;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: 20px;
}

button {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 35px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
}


.header {
    color:gray;
    text-align: center;
}



/* ---------------------Responsive Grid----------------------- */


@media (min-width: 600px) {
    .container2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .container2 {
        grid-template-columns: repeat(3, 1fr);
    }
}
