.background-img {
    background-image: url("https://media.istockphoto.com/id/2182110555/photo/financial-report-and-banking-management-with-e-invoice-bill-digital-nline-statements-c2c.jpg?s=2048x2048&w=is&k=20&c=tSDD4pThUwXRN9CyUcUjrwhW0DMZB4Ja3AvKBy_amGs=");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .2;
    z-index: -1;

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: 20px;
}

.header {
    color:blue;
}

 */


/* ------------------------------------ */
/* DO I WANT A BACKGROUND IMAGE?? */
/* ------------------------------------ */





/* ---------------------Responsive Grid----------------------- */


/* Tablets */
@media (min-width: 600px) {
    .container2 {
        grid-template-columns: repeat(2, 1fr);
    }


/* Large Screens */

@media (min-width: 900px) {
    .container2 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* FIX this hide "Back To Form" button */
@media print{
    .no-print {
        display: none !important;
      }
    }      
} 