* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sender {
    color: blue;
    border-bottom: 2px, blue;
    
}
/* #senderEmail {
    color: red;  
    border: 2px solid red;

} */
.invoice-grid {
    display: grid;
    grid-template-areas: 
    'invoiceNum '
    'sender sender  client'
    'senderEmail clientEmail line-items'
    'senderAddress clientAddress' 


/* sender
header-date
client
description
line-items
totals; */
}
#sender, footer {
    /* width: 100%;
    height: 100px;
    padding: 10px; */
    margin: 0px;
   border-top: solid 4px blue;
}



/* ---------------------Responsive Grid----------------------- */


/* Tablets */
@media (min-width: 600px) {
    .container2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large Screens */

@media (min-width: 900px) {
    .container2 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* FIX this hide "Back To Form" button */
@media print{
    .no-print {
        display: none !important;
      }
    }      
} 